# .env.example
VITE_API_BASE_URL=https://noteassist-ai.onrender.com

VITE_APP_NAME=NoteAssist-AI
VITE_ENABLE_ANALYTICS=true
VITE_GOOGLE_OAUTH_CLIENT_ID=732779644819-77j15g59nbfh8qe3ffjkhpg47o48hd05.apps.googleusercontent.com